*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
   
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    box-shadow: 4px 4px 7px #FFF;
    
   
}
nav .nav-logo{
    color: #E55473;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin-top: -5px;

}
nav > ul{
    display: flex;
    align-items: center;
    text-align: center;
    

}
nav li{
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: #474747;
}


/*  Banner section starts fro, here*/
.banner-container{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fae8ec;
    
}
.banner-img{
    width: 400px;
    height: 624px;
    padding: 20px 150px 0px 20px ;
    margin-left: -20px;
    margin-top: 35px;
    
}
.banner-text{
    margin-right: 80px;
    padding: 30px 30px 0px 240px;
}
.banner-title{
    color: #272727;
    
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 32px;

}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
   
}
.btn{
    font-size: 20px;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    font-weight: 600;
}
.btn:hover{
    background-color: crimson;
    color: #FFF;
    cursor: pointer;
}

/* Feature Section starts from here */
.flower-img{
    width: 180px;
    height: 200px;
    margin-top: 99px;
}
.flower-one{
    width: 280px;
    height: 300px;
    background-color: #EAD1DC;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
}
.flower-two{
    width: 280px;
    height: 300px;
    background-color: #B6D4F0;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    
}
.flower-three{
    width: 280px;
    height: 300px;
    background-color: #dae9f7;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
}
.flower-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px
    ;
}
.link{
    margin-bottom: 40px;
    color: #111;
}
.title{
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
}
.main-title{
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
  
    
}
    
.feature-title{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;

}
/* Services time section starts from here */
.service-time{
        width: 936px;
        height: 200px;
        background-color: #d0c5c5;
        border:none;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 2px;
        text-align: center;
        gap: 20px;
        margin-top: 150px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
}

/* Discount Container section starts from here */
.Discount-container{
    width: 100vw;
    height: 500px;
    background-color: #F2EBEC;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.discount-text span{
    color: #E55473;
}
.discount-text{
    text-align: center;
    margin-left: 40px;
}
.discount-text>h1{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 12px;

}
.discount-text>p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;

}
.discount-text>button{
    margin-top: 15px;
}
.Discount-container>img{
    padding: 100px 100px 80px 10px;
}


/* blog starts */
.blog-container{
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 15px;
}
.blog-title{
    text-align: center;
    margin: 50px;
}
.blog-card{
    width: 300px;
    height: 320px;
    box-shadow: 4px 4px 4px gray;
    background-color: #f4e2e6;
}
.blog-card-img{
    width: 40%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.blog-card-title{
    margin-top: 20px;
   
}
.blog-card-title2{
    margin-top: 60px;
}
.blog-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 20px;
}


/* Instagram feature section starts from here */

.feature-images>img{
    width: 270px;
    height: 320px;
    text-align: center;
}
.feature-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-top: 25px;
}
.cards{
    width: 1140px;
        height: 300px;
        margin: auto;
        border: 2px solid rgb(134, 133, 130);
        margin: auto;
        border-radius: 8px;
        background-image:url("./assets/Rectangle\ 9.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 30px;
        text-align: center;
        margin-top: 30px;

}
.card{
    margin-top: 100px;
    
}
.card-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: -15px;
}
.card-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 22px;
}

/* Latest deal Card starts from here */
input[type="email"]{
    padding: 15px;
    width: 400px;
    height: 20px;
    border-radius: 8px;
    color: #FFF;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-right: 10px;
}
.bg-primary{
    font-size: 15px;
    font-weight: 600;
    padding: 14px;
    border-radius: 8px;
    border: none;
    margin-top: 22px;
    background-color: #E55473;
}
.bg-primary:hover{
    background-color: crimson;
    color: #FFF;
    cursor: pointer;
}


/* Footer section starts from here */
footer{
   background: #111;
   height: 250px;
   width: 100vw;
   padding-top: 60px;
}
.footer-content{
    text-align: center;
    margin-top: 25px;
}
footer span{
    color: #E55473;
}
.footer-title,.footer-description{
    margin-top: 20px;
    color: white;
}
